{% load staticfiles %}
{% block footer %}

<div id="footer">
  <table>
  <div>
    <tr>
    <th>About</th>
    <th>Supported by</th>
    <th>Follow us</th>
  </tr>
  <tr>
      <td><a href="{% url 'people' %}">People</a></td>
	  <td><a href="https://slavicdh.aseees.hcommons.org/">SlavicDH</a></td>

	  <td><a href="https://twitter.com/SlavicDH">twitter</a></td>

  </tr>
  <tr>
	  <td><a href="mailto:ajanco@haverford.edu">Contact</a></td>
    <td><a href="http://www.postsoviet90s.com">1990s Sourcebook</a></td>
	  <td><a href="https://www.facebook.com/groups/413695302023356/">facebook</a></td>
  </tr>
  </div>
  </table>

</div>


{% endblock  %}
