{% extends "base.html" %}
{% load static %}

{% block content %}


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'schedule' %}">Schedule</a>
    <hr>
    <a href="../introduction">Introduction</a>
    <hr>
    <a href="../uxdesign">Use Cases and User Experience Design</a>
    <a href="../research-questions">Research Questions</a>
    <a href="../metadata">Metadata and Data Modeling</a>
    <hr>
    <a href="../text">Text Analysis</a>
    <a href="../network">Network Analysis</a>
    <a href="../image">Image Analysis</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <h3 class="card-title">ASEEES Pre-Conference Digital Project Workshop</h3></span>
<p class="card-text"> December 6, 8:00am to 12:00pm<br> Boston Marriott Copley Place, floor 4, <a class="card-text" href="{% static 'ptown.jpeg' %}">Provincetown Room</a></p>



<!-- Section for subject headings -->
 <b class="card-text">Introduction</b><wind>...</wind><b class="card-text">8-9</b>
<div id="row">
    <div id="column">
        <div class="card">
          <div class="card-body">


              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
             <a href="../introduction" class="card-link"> Read more...</a>

        </div>
      </div>
    </div>
</div>
<hr>
<br>
 <b class="card-text">Project Management</b><wind>...</wind><b class="card-text">9-10</b>

<div id="row">
    <div id="column">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Use Cases and User Experience Design</h5>
           
             <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
           <a href="../uxdesign" class="card-link"> Read more...</a>

        </div>
      </div>
    </div>

      <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Research Questions</h5>
             
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="../research-questions" class="card-link"> Read more...</a>
              
        </div> 
      </div>
    </div>  

   <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Metadata & Data Modeling</h5>
             
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="../metadata" class="card-link"> Read more...</a>
              
        </div> 
      </div>
    </div>


</div>

<hr>
 <b class="card-text">Digital Humanities Analysis Methods</b><wind>...</wind><b class="card-text">10:35-11:30</b>

<div id="row">
    <div id="column">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Text Analysis</h5>

             <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
           <a href="../text" class="card-link"> Read more...</a>

        </div>
      </div>
    </div>

      <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Network Analysis</h5>

              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="../network" class="card-link"> Read more...</a>

        </div>
      </div>
    </div>

   <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Image Analysis</h5>

              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="../image" class="card-link"> Read more...</a>

        </div>
      </div>
    </div>

<hr>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
{% include "footer.html" %}
{% endblock %}
