
<!DOCTYPE html>
<html>
<head>
<title>1990s Sourcebook + SlavicDH</title>
<link rel="stylesheet" href="./sidebar.css">


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Print</a>
  <a href="#">Television</a>
  <a href="#">Web</a>
  <a href="#">Radio</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <h5>Post-Soviet 1990s Multimedia Sourcebook</h5></span>



<!-- Section for subject headings -->
<div id="row">
    <div id="column">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Print</h5>
           
             <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
           <a href="#" class="card-link"> Read more...</a>
            
        </div>
      </div>
    </div>

      <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Television</h5>
             
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="#" class="card-link"> Read more...</a>
              
        </div> 
      </div>
    </div>  

   <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Web</h5>
             
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
             <a href="#" class="card-link"> Read more...</a>
              
        </div> 
      </div>
    </div>

     <div id="column">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Radio</h5>
            
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
             <a href="#" class="card-link"> Read more...</a>
              
        </div> 
      </div>
    </div>
</div>
<div id="footer">
  <table>
  <div>
    <tr>
    <th>About</th>
    <th>Supported by</th> 
    <th>Follow us</th>
  </tr>
  <tr>
    <td>People</td>
    <td>SlavicDH</td> 
    <td>twitter</td>
  </tr>
  <tr>
    <td>Contact</td>
    <td></td> 
    <td>facebook</td>
  </tr>
  </div>
  </table>
  
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>
</html> 

