{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<br>
								<h1>ASEEES Digital Project Workshop, Dec. 6th, 2018, Boston</h1>
								<ul>
								<li>The ASEEES Slavic Digital Humanities group is pleased to announce a pre-conference digital project workshop to take place on the morning of  December 6, 2018 in Boston.</li>
								<li>Together we will examine artifacts and interpretive questions derived from the <a href="https://www.postsoviet90s.com/">Sourcebook of the Post-Soviet 1990s.</a></li>
                                                                <li>The technical training sessions and discussion groups within the workshop will address key research questions connected to the project.</li>
								<li>All participants are welcome, including those with no DH expertise.</li>
								<li>We especially encourage language, culture, and area experts to join us in the service of preserving, interrogating, and (re-)interpreting key artifacts from the “long 1990s,” defined as the period between 1985 and 2000.</li>
								<li>The workshop will feature guest experts tasked with guiding participants in developing skills relevant to the Digital Humanities, including web-scraping, recording metadata, and digital curation.</li>  
								</ul>

<b>We hope you’ll be able to join us in Boston this coming December! Please complete the form below to RSVP.</b>
<br>
<br>
{% if message %}
{{ message }}
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<input type="submit" value="Submit" />
</form>
{% endif %}
						</div>
					</div>

{% include "footer.html" %}
{% endblock  %}
