{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "navbar.html" %}
<br>

    <!-- Section for subject headings -->
 <b class="card-text"></b>
<div id="row">
    <div id="column">
        <div class="card">
          <div class="card-body">
                  <p style="padding: 8px;" class="card-text"> December 6, 8:00am to 12:00pm <a href="https://goo.gl/maps/Vo7abBXcQC52">Boston Marriott Copley Place</a>, floor 4, <a class="card-text" href="{% static 'ptown.jpeg' %}">Provincetown Room</a></p>

              <hr>

               <p class="card-text" style="padding: 8px;">
           Welcome to the first SlavicDH pre-conference workshop. Our goal is to build capacity for Digital Humanities research in our field and to support emerging work through opportunities for ASEEES members to participate in the design, management, and development of DH projects.
<br><br>
                   This year we're working with the <a href="http://postsoviet90s.com">Post-Soviet Public Sphere: Multimedia Sourcebook of the 1990s</a>. This is a project that will gather a collection of items to facilitate the teaching and research of post-Soviet media culture from Gorbachev's <i>glasnost'</i> to Putin's election in 2000.
                   You can find more about the project on their website <a href="http://postsoviet90s.com">postsoviet90s.com</a>.</p>
              <button onclick="window.location='../schedule'">Schedule</button> <button onclick="window.location='{% url "kos" %}'">Knizhnoe obozrenie</button> <button onclick="window.location='{% url "bestsellers" %}'">Bestsellers Lists</button> <button onclick="window.location='{% url "distant_viewing" %}'">Distant Viewing</button>

              {% if message %}
              <p class="card-title">{{ message }}</p>
{% else %}

              <p class="card-title">Please RSVP here:</p>
<form action="" method="post">
    {% csrf_token %}
    <p class="card-text">Name:  {{ form.name }}</p>
    <p class="card-text">Email:  {{ form.email }}</p>
    <p class="card-text">Notes: {{form.note}}</p>
<input type="submit" value="Submit" />
</form>
{% endif %}
          </div>
      </div>
    </div>
</div>
<hr>
<br>

</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
{% include "footer.html" %}
{% endblock %}
