{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
				<!-- Main -->
					<div id="main">
	{% include "wind.html" %}
						<div class="inner">
							<header>
							<a name="begin"></a>
								<br>
								<h1>ASEEES Digital Project Workshop</h1><br>
<h2> December 6, 8:00am to 12:00pm<br> Boston Marriott Copley Place, floor 4, <a href="{% static 'ptown.jpeg' %}">Provincetown Room</a>
</h2>
                                Dear Colleagues,

We're less than one month away from the first SlavicDH pre-conference workshop. Our goal is to build capacity for Digital Humanities research in our field and to support emerging work through opportunities for ASEEES members to participate in the design, management, and development of DH projects.

This year we're working with the Post-Soviet Public Sphere: Multimedia Sourcebook of the 1990s. This is a project that seeks to gather a collection of items to facilitate the teaching and research of post-Soviet media culture from Gorbachev's glastnost' to Putin's election in 2000. You can find more about the project on their website postsoviet90s.com.

The workshop will begin at 8am on December 6th in the Provincetown Room (floor 4) in the Marriot Copley Place in Boston. We will spend roughly one hour discussing the existing project, its history, goals, and ideas with project members Maya Vinokour (NYU) and Bradly Gorski (Vanderbilt). With this contextual knowledge in hand, the workshop will shift to a sequence of presentations and discussions related to DH project design and management.

How do we collaboratively articulate the research questions of inquiry-based DH projects? What are the current research questions of the 1990s Sourcebook and how might they be further refined?

We will then move to a presentation and discussion on use cases and user experience design. What user problems are we seeking to solve? What will the Sourcebook do? Who will use it? How will it address their needs?

Finally, we'll have a presentation and discussion on the topics of metadata and data modeling. What information will researchers and teachers need about the items in the collection? How can the information in the items be extracted for computational analysis?

Following a short break, we will then offer three concurrent sessions on methods of DH research: text analysis, visual analysis, and network analysis.

I'd like to thank all of the organizers for their hard work and for the Boston-area DH practitioners that have agreed to join us. Current information about the event can be found on our event site: bit.ly/postsoviet90s

Thank you again and I look forward to seeing you in Boston!

Best,
Andrew Janco
Svetlana Rasmussen

Maya Vinokour
Bradley Gorski

<b>We hope you’ll be able to join us in Boston this coming December! Please complete the form below to RSVP.</b>
<br>
<br>
{% if message %}
{{ message }}
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<input type="submit" value="Submit" />
</form>
{% endif %}
						</div>
					</div>

{% include "footer.html" %}
{% endblock  %}
