
{% load static %}
{% block navbar %}
<style>
    .navback-image{
	height: 170px;
    padding: 10px;

    position: relative;
    background-image: url("{% static '90s.png' %}");
}
    #footer {
	padding: 8px;
	height: 150px;
	position: relative;
	background-image: url("{% static '90s.png' %}");

}
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'schedule' %}">Schedule</a>
    <a href="{% url 'kos' %}">Knizhnoe obozrenie</a>
    <a href="{% url 'bestsellers' %}">Bestsellers</a>

    <hr>
    <a href="../introduction">Introduction</a>
    <hr>
    <a href="../research-questions">Research Questions</a>
    <a href="../uxdesign">Use Cases and User Experience Design</a>
    <hr>
    <a href="../text">Text Analysis</a>
    <a href="../image">Image Analysis</a>
</div>

<div class="navback-image">
<div class="navback">

<span  style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> <h3 class="card-title">ASEEES Pre-Conference Workshop: Multimedia Sourcebook of the 1990s</h3>
</div>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

{% endblock %}