{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "navbar.html" %}


<b class="card-text" style="padding-left: 20px">Who's coming?</b>
{% for person in people %}
<p class="card-text"style="padding-left: 20px">{{ person }},</p>
{% endfor %}

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

{% include "footer.html" %}
{% endblock %}
